In [2]:
import pandas as pd

In [3]:
ab=pd.read_csv( r"C:\Users\Manivannan\Desktop\diabetes.csv")
ab

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72.0,35.0,0.0,33.6,0.627,50,1
1,1,85,66.0,29.0,0.0,26.6,0.351,31,0
2,8,183,64.0,0.0,0.0,23.3,0.672,32,1
3,1,89,66.0,23.0,94.0,28.1,0.167,21,0
4,0,137,40.0,35.0,168.0,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76.0,48.0,180.0,32.9,0.171,63,0
764,2,122,70.0,27.0,0.0,36.8,0.340,27,0
765,5,121,72.0,23.0,112.0,26.2,0.245,30,0
766,1,126,60.0,0.0,0.0,30.1,0.349,47,1
767,1,93,70.0,31.0,0.0,30.4,0.315,23,0

In [4]:
ab.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             762 non-null    float64
 3   SkinThickness             762 non-null    float64
 4   Insulin                   762 non-null    float64
 5   BMI                       762 non-null    float64
 6   DiabetesPedigreeFunction  762 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(5), int64(4)
memory usage: 54.1 KB

In [5]:
ab.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               6
SkinThickness               6
Insulin                     6
BMI                         6
DiabetesPedigreeFunction    6
Age                         0
Outcome                     0
dtype: int64

In [6]:
#  ab.fillna(method='ffill',inplace=True)
ab=ab.dropna()

In [7]:
ab.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 762 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               762 non-null    int64
 1   Glucose                   762 non-null    int64
 2   BloodPressure             762 non-null    float64
 3   SkinThickness             762 non-null    float64
 4   Insulin                   762 non-null    float64
 5   BMI                       762 non-null    float64
 6   DiabetesPedigreeFunction  762 non-null    float64
 7   Age                       762 non-null    int64
 8   Outcome                   762 non-null    int64
dtypes: float64(5), int64(4)
memory usage: 59.5 KB

In [8]:
x=ab[['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age']]
x

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72.0,35.0,0.0,33.6,0.627,50
1,1,85,66.0,29.0,0.0,26.6,0.351,31
2,8,183,64.0,0.0,0.0,23.3,0.672,32
3,1,89,66.0,23.0,94.0,28.1,0.167,21
4,0,137,40.0,35.0,168.0,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76.0,48.0,180.0,32.9,0.171,63
764,2,122,70.0,27.0,0.0,36.8,0.340,27
765,5,121,72.0,23.0,112.0,26.2,0.245,30
766,1,126,60.0,0.0,0.0,30.1,0.349,47
767,1,93,70.0,31.0,0.0,30.4,0.315,23

In [9]:
y=ab[['Outcome']]
y

     Outcome
0          1
1          0
2          1
3          0
4          1
..       ...
763        0
764        0
765        0
766        1
767        0

[762 rows x 1 columns]

In [10]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.25)

In [11]:
xtrain.shape

(571, 8)

In [12]:
ytrain.shape

(571, 1)

In [13]:
xtest.shape

(191, 8)

In [14]:
ytest.shape

(191, 1)

In [15]:
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
c=DecisionTreeClassifier()
c.fit(x,y)
d=c.predict(xtest)
e=accuracy_score(ytest,d)
print(e)

1.0

In [16]:

from sklearn  import svm 
c=svm.SVC()
c.fit(x,y)
d=c.predict(xtest)
e=accuracy_score(ytest,d)
print(e)

0.7643979057591623

C:\Users\Manivannan\anaconda3\lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [17]:
from sklearn.ensemble import RandomForestClassifier
c=RandomForestClassifier()
c.fit(x,y)
d=c.predict(xtest)
e=accuracy_score(ytest,d)
print(e)

C:\Users\Manivannan\AppData\Local\Temp\ipykernel_12060\2592827283.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  c.fit(x,y)

1.0

In [18]:
from sklearn.naive_bayes import GaussianNB
c=GaussianNB()
c.fit(x,y)
d=c.predict(xtest)
e=accuracy_score(ytest,d)
print(e)

0.7643979057591623

C:\Users\Manivannan\anaconda3\lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [19]:
prediction=c.predict([[6,148,72.0,35.0,0.0,33.6,0.627,50]])
print(prediction)

[1]

C:\Users\Manivannan\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(